<div class="sectiontitle">
  <h2>Recent Proposals</h2>
  <span class="headerLine"></span>
</div>
<div style = "overflow-x: auto;">
  <table width = "80%" class="table table-compact">
    <thead>
      <tr>
        <th style="text-align:left">Date</th>
        <th style="text-align:left">Type</th>
        <th style="text-align:left">Client Name</th>
        <th style="text-align:center">Quotes</th>
        <th style="text-align:center">Status</th>
      </tr>
    </thead>
    <%if @recent.length > 0 %>
      <% @recent.each do |p|%>
        <tr>
          <!-- Created Date -->
          <td class="text-nowrap">
            <%= (l p.created_at, format: :notime)%>
          </td>
          <!-- Type of Proposal -->
          <td class = "text-nowrap">
            <%= p.service_type_desc%>
          </td>
          <!-- Client or Business Name -->
          <td class="text-nowrap">
            <%=p.business_name%>
          </td>
          <!-- Listing the 3 Different Quotes -->      
          <td class="text-nowrap" style="text-align:center">
            <%= number_to_currency(p.fee_tier1) + " / "+ number_to_currency(p.fee_tier2) + " / " + number_to_currency(p.fee_tier3)%>
          </td>
          <!-- Show Icon Depending on Proposal Status -->          
          <td class="text-nowrap" style="text-align:center">
            <%case p.proposal_status%>
            <%when 0%>
              <i class="fa fa-hourglass-2 fa-2x icon-hourglass"  aria-hidden="true" data-html = "true" data-toggle="tooltip" title="This Proposal is Pending" data-placement="right" data-container="body"></i>
            <%when 1%>          
              <i class="fa fa-thumbs-o-up fa-2x icon-approved" aria-hidden="true" data-html = "true" data-toggle="tooltip" title="Accepted! (<%=number_to_currency(p.actual_fee, precision: 2)%>)" data-placement="right" data-container="body"></i>
            <%when 2%>          
              <i class="fa fa-thumbs-o-down fa-2x icon-declined" aria-hidden="true" data-html = "true" data-toggle="tooltip" title="Declined!" data-placement="right" data-container="body"></i>
            <%end%>  
          </td>
        </tr>
      <%end%>
    <%end%>  
  </table>
  <br>
  <%= link_to "See All Proposals", proposals_path, class: "btn btn-primary"%>
  <br>
  <br>
  
</div>
