<div class="sectiontitle">
  <h2>Recent Proposals</h2>
  <span class="headerLine"></span>
</div>
<div style = "overflow-x: auto;">
  <table width = "80%" class="table table-compact">
    <thead>
      <tr>
        <th style="text-align:left">Date</th>
        <th style="text-align:left">Type</th>
        <th style="text-align:left">Client Name</th>
        <th style="text-align:center">Quotes</th>
        <th style="text-align:center">Status</th>
      </tr>
    </thead>
    <%if @proposals.length > 0 %>
      <% proposals.each do |p|%>
        <tr>
          <!-- Created Date -->
          <td class="text-nowrap">
            <%= (l p.created_at, format: :notime)%>
          </td>
          <!-- Type of Proposal -->
          <td class = "text-nowrap">
            <%= p.service_type_desc%>
          </td>
          <!-- Client or Business Name -->
          <td class="text-nowrap">
            <%=p.business_name%>
          </td>
          <!-- Listing the 3 Different Quotes -->      
          <td class="text-nowrap" style="text-align:center">
            <%= p.quote_list%>
            
          </td>
          <!-- Show Icon Depending on Proposal Status -->          
          <td class="text-nowrap" style="text-align:center">
            <%= p.proposal_status_icon %>
          </td>
        </tr>
      <%end%>
    <%end%>  
  </table>
  <br>
  <%= link_to "See All Proposals", proposals_path, class: "btn btn-primary"%>
  <br>
  <br>
  
</div>
