<%=form_for @proposal,:html => { :multipart => true, :class =>'form-horizontal'} do |f| %>
<div class = "well">
  <div class = "row">
    <%=f.hidden_field :user_id, :value => f.object.user_id%>
    <!-- Proposal Type -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :service_type, "Proposal Type", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-5 col-md-5 col-lg-3">
            <%= f.select(:service_type, [["Full Service",1],["Accounting",2],["Tax", 3]],{},{:class =>"form-control text-left input-sm", :tabindex => 1, autofocus: true}) %>
          </div>
      </div>
    </div>  
    <!-- Contact First Name -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :contact_first, "Contact First Name", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-8 col-md-8 col-lg-8">
            <%= f.text_field :contact_first,class:"form-control text-left input-sm",  required: true,  :tabindex => 8 %>
          </div>
      </div>
    </div>  
  </div>
  
  <div class = "row">
    <!-- Business Name -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :business_name, "Business Name", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-8 col-md-8 col-lg-8">
            <%= f.text_field :business_name,class:"form-control text-left input-sm", required: true ,  :tabindex => 2 %>
          </div>
      </div>
    </div>  
   <!-- Proposal Type -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :contact_last, "Contact Last Name", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-8 col-md-8 col-lg-8">
            <%= f.text_field :contact_last,class:"form-control text-left input-sm", :tabindex => 9 %>
          </div>
      </div>
    </div>  
  </div>

  <div class = "row">
    <!-- Address -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :address, "Address", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-8 col-md-8 col-lg-8">
            <%= f.text_field :address,class:"form-control text-left input-sm",  required: true,  :tabindex => 3 %>
          </div>
      </div>
    </div>  
    <!-- Contact Email -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :contact_email, "Contact email", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-8 col-md-8 col-lg-8">
            <%= f.text_field :contact_email,class:"form-control text-left input-sm", :tabindex => 10 %>
          </div>
      </div>
    </div>  
  </div>

  <div class = "row">
    <!-- Address2 -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :address2, "", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-8 col-md-8 col-lg-8">
            <%= f.text_field :address2,class:"form-control text-left input-sm", :tabindex => 4 %>
          </div>
      </div>
    </div>  
    <!-- Business Type -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :business_type, "Business Type", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-7 col-md-7 col-lg-7">
            <%= f.collection_select :business_type, BusinessType.order("industry_code ASC"), :id, :description, {:prompt => "Select an Industry"}, {:class => 'form-control input-sm', :tabindex => 11,  required: true}%>
          </div>
      </div>
    </div>  
  </div>

  <div class = "row">
    <!-- City -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :city, "City", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-8 col-md-8 col-lg-8">
            <%= f.text_field :city,class:"form-control text-left input-sm", :tabindex => 5, required: true %>
          </div>
      </div>
    </div> 
    <!-- Proposal Status -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :proposal_status, "Proposal Status", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-5 col-md-5 col-lg-3">
            <%= f.select(:proposal_status, [["Pending",0],["Accepted",1],["Declined",2]],{},{:class =>"form-control text-left input-sm", :tabindex => 12, autofocus: true}) %>
          </div>
      </div>
    </div>   

    
  </div>

  <div class = "row">
    <!-- State -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :state, "State", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-5 col-md-5 col-lg-3">
            <%= f.text_field :state,class:"form-control text-left input-sm", :tabindex => 6 , required: true%>
          </div>
      </div>
    </div>  
    <!-- ACtual Fee Charged -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :actual_fee, "Accepted Fee", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-5 col-md-5 col-lg-3">
            <%=f.number_field :actual_fee,  :step => 'any', class: 'form-control input-sm text-right' , :value => (number_with_precision(f.object.actual_fee, :precision => 2) || 0.00) %>
          </div>
      </div>
    </div>  
    
  </div>


  <div class = "row">
    <!-- Zip Code -->      
    <div class = "col-md-6 col-sm-6 col-lg-6">
      <div class="form-group">
        <%=f.label :zip, "Zip", class: 'col-md-4 col-sm-4 col-lg-4 control-label'%>
          <div class = "col-sm-5 col-md-5 col-lg-3">
            <%= f.text_field :zip,class:"form-control text-left input-sm", :tabindex => 7 %>
          </div>
      </div>
    </div>  

    
  </div>  
</div>  
<!-- Proposal Text for the Client -->      
<h3 align = "left">Proposal Text</h3>
  <div class = "well">
    <div class = "row"> 
      <div class = "col-sm-12 col-md-12 col-lg-12">
          <%= f.text_area(:proposal_text, size: '50x10', :style=>"resize: none;", :class =>"form-control text-left input-sm" ) %>
      </div>
    </div>
  </div>  
<!-- Proposal Detail with Checkboxes -->        
<h3 align = "left">Proposal Detail</h3>
<div class = "well">
<div class = "row">
  <div class = "col-md-5 col-sm-5 col-lg-5">
  </div>
  <!-- Tier 1 -->        
  <div class = "col-md-2 col-sm-2 col-lg-2">
    <span style = "display:inline-block;width:90%">
      <div class = "input-group">
        <span class="input-group-addon">$</span>
        <%=f.number_field :fee_tier1,  :step => 'any',:tabindex => 12, class: 'form-control text-center pricing' , :value => (number_with_precision(f.object.fee_tier1, :precision => 2) || 0) %>
      </div>
    </span>
  </div>
  <!-- Tier 2 -->        
  <div class = "col-md-2 col-sm-2 col-lg-2"> 
    <span style = "display:inline-block;width:90%">
      <div class = "input-group">
        <span class="input-group-addon">$</span>
        <%=f.number_field :fee_tier2,  :step => 'any',:tabindex => 13, class: 'form-control text-center pricing' , :value => (number_with_precision(f.object.fee_tier2, :precision => 2) || 0) %>
      </div>
    </span>
  </div>
  <!-- Tier 3 -->        
  <div class = "col-md-2 col-sm-2 col-lg-2"> 
    <span style = "display:inline-block;width:90%">
      <div class = "input-group">
        <span class="input-group-addon">$</span>
        <%=f.number_field :fee_tier3,  :step => 'any',:tabindex => 14, class: 'form-control text-center pricing' , :value => (number_with_precision(f.object.fee_tier3, :precision => 2) || 0) %>
      </div>
    </span>
  </div>
</div>

<div class = "row">
  <div class = "col-md-5 col-sm-5 col-lg-5">
    <h4><span class = "label label-primary pull-left" style="text-align:left;display:inline-block;width:90%">SERVICES</span></h4>
  </div>

  <div class = "col-md-2 col-sm-2 col-lg-2">
    <h4><span class = "label label-primary" style="display:inline-block;width:90%"><%=current_user.proposal_setting.tier1_name%></span></h4>
  </div>

  <div class = "col-md-2 col-sm-2 col-lg-2">
    <h4><span class = "label label-primary" style="display:inline-block;width:90%"><%=current_user.proposal_setting.tier2_name%></span></h4>
  </div>

  <div class = "col-md-2 col-sm-2 col-lg-2">
    <h4><span class = "label label-primary" style="display:inline-block;width:90%"><%=current_user.proposal_setting.tier3_name%></span></h4>
  </div>
</div>
<%=f.fields_for :proposal_details, f.object.proposal_details.sort_by(&:service_id) do |builder| %>
  <%= render 'proposal_detail_fields', :f => builder %>
<%end%>
 
<br>
<div class = "row">
  <div class = "col-md-2 col-sm-3">
    <div class = "actions">
     <%= f.submit "Save" , class: 'btn btn-primary btn-block', :name => "submit" %>
    </div>
  </div>
  <div class = "col-md-2 col-sm-3">
    <div class = "actions">
     <%= f.submit "Save and Preview" , class: 'btn btn-primary btn-block', :name => "submit" %>
    </div>
  </div>
</div>
<%end%>